<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update user</title>
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="mt-5 row">
      <div class="user-info-container">
        <form method="post" action="/user/update-user">
          <div class="mb-3">
            <h3>Create new user</h3>
          </div>
          <input name="id" hidden value="<%= userItem.id %>">
          <div class="mb-3 col-6">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
              value="<%= userItem.email %>">
          </div>
          <div class="col-6"></div>
          <div class="col-6"></div>
          <div class="mb-3 col-6">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username" value="<%= userItem.username %>">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
      </div>
    </div>
    </form>
  </div>
</body>

</html>